PORT = backend port
MONGO_URI ='your-mongodb-uri'
JWT_SECRET = jwt-secret-key
EMAIL_USER ='your-email'
EMAIL_PASS = 'your-pass'
CLIENT_URL = http://localhost:5173
GOOGLE_CLIENT_ID = google-client-Id
GOOGLE_CLIENT_SECRET = google-client-secret
